# ============================================================
# APPLICATION
# ============================================================

# development | production | testing
FLASK_CONFIG=development
#FLASK_CONFIG=production


# ============================================================
# SECURITY
# ============================================================

SECRET_KEY=replace-with-a-long-random-secret
WTF_CSRF_SECRET_KEY=replace-with-another-long-random-secret


# ============================================================
# DATABASE
# ============================================================

DATABASE_URL=sqlite:///ferdosi.db


# ============================================================
# FILES
# ============================================================

UPLOAD_FOLDER=uploads
LOG_FOLDER=logs

UPLOAD_MAX_SIZE_MB=11

RESEARCH_IMAGE_UPLOAD_FOLDER=uploads/research_images
RESEARCH_IMAGE_MAX_SIZE_MB=5


# ============================================================
# MAIL
# ============================================================

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=


# ============================================================
# WEBSITE
# ============================================================

SITE_NAME=فردوسی حسینی
SITE_URL=https://ferdowsihosseini.ir
INSTAGRAM_URL=https://instagram.com/ferdowsihosseini
TELEGRAM_URL=https://t.me/ferdowsihosseini


# ============================================================
# RATE LIMITING
# ============================================================

RATELIMIT_ENABLED=True
RATELIMIT_STORAGE_URL=memory://

#RATELIMIT_DEFAULT=200 per day;50 per hour;10 per minute
RATELIMIT_LOGIN=5 per minute
RATELIMIT_HEADERS_ENABLED=True


# ============================================================
# SEARCH
# ============================================================

SEARCH_RESULTS_PER_PAGE=10


# ============================================================
# SSL / PROXY
# ============================================================

SSL_ENABLED=False

PROXY_FIX_X_FOR=1
PROXY_FIX_X_PROTO=1
PROXY_FIX_X_HOST=1
PROXY_FIX_X_PORT=1
PROXY_FIX_X_PREFIX=1


# ============================================================
# ADMIN INITIAL ACCOUNT
# ============================================================

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@ferdowsihosseini.ir
ADMIN_FULLNAME=مدیر سایت
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD

# ============================================================
# Articles settings 
# ============================================================
ARTICLE_IMAGE_UPLOAD_FOLDER=uploads/articles_images
ARTICLE_IMAGE_MAX_SIZE_MB=5
ARTICLE_IMAGE_ALLOWED_EXTENSIONS=jpg,jpeg,png,gif,webp
ARTICLES_PER_PAGE=10